body {
  margin: 0;
}

#div1 {
  background-color: #ff0000;
  height: 60px;
}

#div2 {
  background-color: #ffa500;
  height: 350px;
}

#div3 {
  background-color: #ffff00;
  height: 320px;
}

#div4 {
  background-color: #008000;
  height: 385px;
}

#div5 {
  background-color: #0000ff;
  height: 200px;
}

#div6 {
  background-color: #4b0082;
  height: 200px;
}

@media(min-width:767px){
  #div2{
    height: 562px;
  }
  #div3{
    height: 282px;
  }
  #div4{
    height: 360px;
    float: left;
    width: 50%;
  }
  #div5{
    height: 180px;
    float: left;
    width: 50%;
  }
  #div6{
    height: 180px;
    float: left;
    width: 50%;
  }
}

@media(min-width:991px){
  #div2{
    height: 700px;
    float: left;
    width: 50%;
  }
  #div3{
    height: 350px;
    float: left;
    width: 50%;
  }
  #div4{
    height: 350px;
    float: left;
    width: 25%;
  }
  #div5{
    height: 175px;
    float: left;
    width: 25%;
  }
  #div6{
    height: 175px;
    float: left;
    width: 25%;
  }
}
